@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Almarai', sans-serif;
  background-color: #141b43;
}

.blur-box {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
